.app-about{
    background-image: url("../../assets/img/app-hero.png");
    height: 80vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}