.email-list{
}

ul.email-preview {
    flex-direction: column;
    list-style-type: none;
}
li.email-line {
    padding: 5px;
    border: 1px solid var(--logo-font);
    justify-content: space-between;
}
li.email-line:hover {
    border: 2px solid var(--logo-font);
     
}
span.mail-subject {
    font-size: large;
    font-weight: bold;
}