.email-filter{
    text-align: center;
    width: 100%;
    /* position: absolute; */
    top: 1.5rem;
}

.filter-input{
    width: 59%;
    height: 2.5rem;
    border-radius: 7px;
    background-color: snow;
    position: absolute;
    top: 1.5rem;
    left: 15rem;
}