.email-filter{
    text-align: center;
    width: 70%;
    position: absolute;
    top: 1.5rem;
    right: 10rem;
}

.filter-input{
    width: 70%;
    height: 2.5rem;
    border-radius: 7px;
    background-color: snow;
}