.email-folder-list{
    position: absolute;
    top: 16rem;
    cursor:pointer;
}

.mail-folder:hover{
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
}

.folder-list-icon{
    height: 15px;
    padding-right: 5px;
}
