.email-list{
    width: 80%;
    margin: auto;
    grid-row: 2;
    grid-column: 2;
}

ul.email-preview {
    flex-direction: column;
    list-style-type: none;
}
li.email-line {
    padding: 5px;
    border: 1px solid var(--logo-font);
    justify-content: space-between;
}
li.email-line{
    padding: 5px;
    border: 1px solid var(--logo-font);
    justify-content: space-between;
    
}
li.email-line:hover {
    outline: 2px solid var(--logo-font);
     
}
span.mail-subject {
    font-size: large;
    font-weight: bold;
}

a.link-to-details {
    text-decoration: none;
    color: var(--logo-font);
}
a.link-to-details.read  {
    text-decoration: none;
    color: var(--logo-font);
    background-color: lightgray;
}

.mark-unread{
    height: 25px;
    width: 30px;
    display: block;
}
.delete-btn{
    height: 25px;
    width: 20px;
    display: block;
}
.compose-btn{
    position: absolute;
    left: 1rem;
}