.note-add {
  margin: auto;
  position: relative;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 8px;
  padding: 0 16px;
  min-width: 330px;
  min-height: 46px;
  margin: 0 auto 4rem;
}

.note-add.open .note-type-controls {
  position: static;
  align-self: flex-end;
  margin: 4px 0;
}

.title-placeholder {
  letter-spacing: 0.00625em;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
  min-height: 43px;
  padding: 10px 15px;
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.note-info-placeholder {
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.702);
  line-height: 1.25rem;
  position: absolute;
  width: 100%;
  pointer-events: none;
  letter-spacing: 0.00625em;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.note-add.open .note-info-placeholder {
  letter-spacing: 0.01785714em;
  font-size: 0.875rem;
}

.add-title-input {
  min-height: 43px;
  padding: 10px 15px;
  transition: box-shadow 0.218s ease-in-out, background-color 0.218s ease-in;
  letter-spacing: 0.00625em;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  width: 100%;
  outline: none;
}

.add-note-input {
  padding: 10px 15px;
  min-height: 46px;
  width: 100%;
  outline: none;
  letter-spacing: 0.01428571em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #202124;
}

.note-type-controls {
  gap: 5px;
  margin-inline-start: 1rem;
  position: absolute;
  right: 0;
}

.note-type-controls img {
  width: 20px;
  height: 20px;
}

.btn-note-type {
  border-radius: 50%;
  opacity: 0.6;
  padding: 7px;
}

.btn-note-type:hover {
  background: #5f636828;
  opacity: 1;
}
