.note-list {
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 0 auto;
  gap: 1rem;
  padding-top: 1rem; */
  padding-top: 1rem;
  column-width: 230px;
  margin: auto;
  width: 80%;
}
