.note {
  min-height: 100px;
  border: 1px solid #c3bebe;
  border-radius: 8px;
  padding: 1rem 1rem 2.5rem 1rem;
  break-inside: avoid;
  margin-bottom: 1rem;
  width: 240px;
  position: relative;
  transition: background-color, 0.4s;
}

.note-controls {
  position: absolute;
  bottom: 9px;
  height: 24px;
  opacity: 0;
  transition: opacity, 0.4s;
}

.note:hover .note-controls {
  opacity: 1;
}

.note-controls button {
  border-radius: 50%;
  padding: 2px;
}

.colors-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: lightgoldenrodyellow;
  position: absolute;
  z-index: 10;
}

.colors-container .color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
}

.btn-note-edit {
  opacity: 0.7;
}

.btn-note-edit:hover {
  background: #5f636828;
  opacity: 1;
}

.note-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.note-video iframe {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.note.note-video,
.note.note-img {
  padding: 0 0 2.5rem 0;
}
.note.note-video .note-controls,
.note.note-img .note-controls {
  padding-left: 1rem;
  padding-right: 1rem;
}

.todo.done {
  text-decoration: line-through;
}
