@media (max-width: 650px) {
  .note-list {
    width: 240px;
  }
}

@media (min-width: 650px) {
  .note-list {
    width: 500px;
  }
}

@media (min-width: 890px) {
  .note-list {
    width: 750px;
  }
}

@media (min-width: 1040px) {
  .note-list {
    width: 1000px;
  }
}
