@media (max-width: 650px) {
  .note-list {
    width: 240px;
  }

  .note-add {
    max-width: 600px;
  }

  .note-controls {
    opacity: 1;
  }
}

@media (min-width: 650px) {
  .note-list {
    width: 500px;
  }
  .note-add {
    width: 600px;
  }

  .note-filter {
    width: 400px;
  }
}

@media (min-width: 890px) {
  .note-list {
    width: 750px;
  }
  .note-filter {
    width: 600px;
  }
}

@media (min-width: 1040px) {
  .note-list {
    width: 1000px;
  }
}
